@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --text-color: #fff;
    --background-color: #4a494a;
    --border-color: #929292;
    --btn-color: #07D874;
    --btn2-color: #ffbd3f;
    --text-poppins: 'Poppins', sans-serif;
    --text-inter: 'Inter', sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--text-color);
    }
}

html{
    display: flex;
    justify-content: center;
}

body{
    max-width: 100%;
    min-width: 80vw;
    background-color: #000;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-color);
    height: 5vh;
    padding: 2% 0;
}

nav{
    justify-content: space-between;
    max-width: 100%;
    min-width: 80vw;
    height: 5vh;
    display: flex;
    align-items: center;
    margin: 2%;
}

nav img{
    height: 5rem;
}

nav ul a{
    text-decoration: none;
    width: 463px;
    height: 37px;
    color: var(--text-color);
    font-family: var(--text-poppins);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 0 10px;
}

nav ul a:nth-child(1), nav ul a:nth-child(2), nav ul a:nth-child(3){
    border-right: solid var(--border-color)   ;
}



.button-cart{
    width: 150px;
    height: 37px;
    background: var(--btn-color);
    color: #000;
    border-radius: 3px 3px 3px 3px;
    font-family: var(--text-poppins);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    margin-right: 60px;
}

.box-cart{
    height: 5rem;
    display: flex;
    align-items: center;
}

form input{
    width: 191px;
    height: 32px;
    color: #000;
    background: var(--text-color);
    border-color: #232323;
    border-width: 1px;
    border-style: solid;
    border-radius: 32px 32px 32px 32px;
    font-family: var(--text-poppins);
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding-left: 25px;
}

form svg{
    height: 16px;
    width: auto;
    fill: var(--border-color);
    position: absolute;
    padding-left: 5px;
}

#form{
    display: flex;
    align-items: center;
}

.button-cart svg{
    height: 25px;
    width: 25px;
}

main{
    background: var(--background-color);
    height: 500vh;
    justify-content: center;
}

.box-slideshow{
    border-bottom: solid 2px var(--border-color);
    height: 65vh;
    display: flex;
    justify-content: center;
}

.content-slideshow{
    background-image: url("../images/skull_and_bones.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 70vw;
    height: 55vh;
    display: grid;
    place-content: center;
    border: solid 3px var(--border-color);
    border-radius: 4px 4px 4px 4px;
}

.btn-slideshow{
    background-color: var(--btn-color);
    padding: 0px 10px 0px 10px;
    text-align: center;
    text-decoration: none;
    color: #000;
    border-radius: 3px 3px 3px 3px;
    font-family: var(--text-poppins);
    font-weight: 500;
    font-size: 18px;
    width: 170px;
    height: 43px;
    display: grid;
    place-content: center;
    display: grid;
    place-self: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.content-slideshow h1{
    color: var(--text-color);
    font-family: var(--text-poppins);
    font-weight: bold;
    font-size: 6rem;
    line-height: 1.3;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.title-products h1 {
    color: var(--text-color);
    font-family: var(--text-poppins);
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1;
    text-align: center;
    margin: 6vh 0;
}

.featured-products {
    width: 90%;
    max-width: 900px;
    text-align: center;
}

.featured-products h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--text-color);
}

.product-list {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    align-items: center;
}

.product {
    width: 47%;
    display: grid;
    justify-content: space-evenly;
}

.product img {
    margin-bottom: 10px;
    height: 35vh;
    width: 35vw;
    border: solid 2px var(--border-color);
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
}

.product p {
    color: var(--text-color);
    font-family: var(--text-inter);
    font-size: 1.3rem;
    font-weight: bold;
}

section svg{
    fill: var(--text-color);
    height: 25px;
    width: auto;
    cursor: pointer;
}

.game-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "game1 game2 game3 game4"
    "game1 game5 game6 game7";
    grid-gap: 1.7rem;
    padding: 20vh 4vw 20vh 4vw;
}

.game-item1{
    grid-area: game1;
}

.game-item2{
    grid-area: game2;
}

.game-item3{
    grid-area: game3;
}

.game-item4{
    grid-area: game4;
}

.game-item5{
    grid-area: game5;
}

.game-item6{
    grid-area: game6;
}

.game-item7{
    grid-area: game7;
}

.game-gallery img{
    width: 100%;
    height: auto;
    border: solid 2px var(--border-color);
    border-radius: 4px 4px 4px 4px;
}

.game-gallery .game-item1 img{
    height: 56vh;
}

.game-gallery .rating{
    color: var(--btn2-color);
}

.game-gallery p{
    color: var(--text-color);
    font-family: var(--text-inter);
    font-size: 1.1rem;
    font-weight: bold;
}